html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.hrv {
  border: none;
  border-left: 1px solid whitesmoke;
  height: 100vh;
  width: 1px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: #fff;
  color: #444;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
}

.card-success {
  border: 4px solid green;
  border-radius: 10px;
}

.card-danger {
  border: 4px solid red;
  border-radius: 10px;
}