.box-layout {
  align-items: center;
  background-color: whitesmoke;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  text-align: center;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}